@import "tailwindcss";

:root {
  --foreground: #171717;
  color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
